@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --background-size: 24.5px;
  --color1: #bc00ff;
  --color2: #cafe00;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  color: var(--white);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html,
body {
  background-image: radial-gradient(
    var(--black) var(--background-size),
    transparent 0
  );
  background-size: 40px 40px;
  background-position: -19px -19px;
  animation: pulse 4s infinite;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    background-color: var(--color1);
  }
  50% {
    background-color: var(--color2);
  }
  100% {
    background-color: var(--color1);
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
    var(--black) var(--background-size),
    transparent 0
  );
  background-size: 40px 40px;
  background-position: -19px -19px;
  animation: pulse 4s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 2s ease-in-out;
}

#menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  padding-top: 2em;
  padding-bottom: 3.2em;
}

#heading {
  font-size: 2.5em;
  text-align: center;
}

#enter-button {
  background: none;
  border: 2px solid var(--white);
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1.2em;
}

#enter-button:active {
  transform: scale(0.98);
}

#credits {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0.5em 1em;
  background-color: var(--black);
}

#credits > a {
  text-decoration: underline;
}

#asterisk {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  padding: 0 0.5em;
  cursor: pointer;
  z-index: 5;
  background-color: var(--black);
}

#help-panel {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 0.5em;
  line-height: 2.5em;
  z-index: 4;
  padding-left: 2em;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: var(--black);
}
